html,
body {
	margin: 0;
}

.logo {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	border-top: 100px solid black;
}

img {
	width: 200px;
	height: 40px;
}

/* Navigation styles */
.nav {
	display: flex;
	background-color: black;
	padding: 20px;
	margin-top: 30px;
}

.left > button {
	background-color: lightblue; /* Green */
	border: 2px solid plum;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.right > button {
	background-color: yellow; /* Green */
	border: 2px solid plum;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.center > a {
	color: white;
	text-decoration: transparent;
}

/* Column styles */

/* Footer Styles */
