.logo {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	border-top: 100px solid black;
}

img {
	width: 200px;
	height: 40px;
}

.nav {
	display: flex;
	background-color: black;
	padding: 20px;
	margin-top: 30px;
}

/* Navigation styles */

/* Column styles */

/* Footer Styles */
