* {
	margin: 0;
}

html,
body {
	height: 100%;
}

.logo {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

img {
	width: 200px;
	height: 40px;
}

/* Navigation styles */

.nav {
	display: flex;
	background-color: black;
	padding: 10px;
	margin-top: 30px;
	align-items: baseline;
	justify-content: space-around;
}

.left > button {
	background-color: lightblue;
	border: 2px solid plum;
	color: black;
	padding: 8px 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

.right > button {
	background-color: yellow;
	border: 2px solid plum;
	color: black;
	padding: 8px 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-right: auto;
}

.center > a {
	color: white;
	text-decoration: transparent;
	padding-right: 10px;
}

/* Column styles */

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meal1,
.meal2,
.meal3 {
	margin-top: 10px;
	width: 350px;
	background-repeat: no-repeat;
	padding-top: 100px; /* (shorthand)padding: top right bottom left*/
}

.meal1 {
	background-image: url(../images/steak.png);
}

.meal2 {
	background-image: url(../images/soup.png);
}

.meal3 {
	background-image: url(../images/cheesecake.png);
}

.text {
	background-color: rgb(48, 48, 48);
	opacity: 0.6;
	color: white;
}

/* Footer Styles */

.footer {
	display: flex;
	justify-content: center;
	background-color: black;
	padding: 15px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.fb {
	color: lightblue;
	padding-right: 40px;
	text-decoration: transparent;
	font-size: 14px;
}

.tw {
	color: yellow;
	padding-right: 40px;
	text-decoration: transparent;
	font-size: 14px;
}

.ig {
	color: red;
	text-decoration: transparent;
	font-size: 14px;
}
